body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(151, 203, 255);
  margin: 1rem;
}

.logo {
  display: block;
  margin: auto;
  max-width: 20%;
}

#howTo {
  text-align: center;
  margin: 1rem;
  cursor: pointer;
}

#urlContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#recipeURL {
  border-radius: 1rem;
  font-family: 'Poppins', sans-serif;
  padding: .4rem;
  width: 80%;
  border: none;
  outline: none;
}

#recipeURL:hover {
  background-color:  rgb(231, 255, 238)
}

#errors {
  color: red;
}

.close {
  color: red;
  cursor: pointer;
}

#lookyWorky {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  margin: .5rem;
}

#recipeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#writtenAudio {
  background-color: white;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
}

#ingredContainer {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 231, 231);
  flex-grow: 1;
}

#read {
  color: darkblue;
}

#ingredContainer > h2, #instrContainer > h2 {
  text-align: center;
}

#instrContainer {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(253, 232, 193);
  flex-grow: 2;
}

#listen {
  background-color:  rgb(94, 179, 119);
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  color: white;
  font-weight: bold;
  outline: none;
  text-decoration: grey;
}

#listen:hover {
  background-color:  rgb(78, 151, 100);
}

#stop {
  background-color:  rgb(179, 94, 94);
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  color: white;
  font-weight: bold;
  outline: none;
  text-decoration: grey;
}

#stop:hover {
  background-color:  rgb(151, 78, 78);
}

.singleIngredient {
  width: 100%;
}

.singleIngredient > input {
  border-radius: 1rem;
  font-family: 'Poppins', sans-serif;
  padding: .4rem;
  border: none;
  outline: none;
  width: 80%;
}

.singleInstruction > textarea {
  border-radius: 1rem;
  font-family: 'Poppins', sans-serif;
  padding: .4rem;
  border: none;
  outline: none;
  height: 3rem;
  resize: none;
  width: 75%;
}

.otherButton {
  background-color: dodgerblue;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: white;
  font-size: 1.2rem;
}

.deleteButton {
  background-color: firebrick;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: white;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  #recipeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
